In [4]:
import pandas as pd

df = pd.read_csv("/home/giodsubuntu/raw_dataset_dropPrice_str.csv")

#filter out apartament block and duplicates
filtered_sub_prop = df[(df["property sub-type"]) != "APARTMENT_BLOCK"]
df_2 = filtered_sub_prop.drop_duplicates(subset = ["Immoweb ID"], keep='first')

In [13]:
furnished = {"No" : 0, "Yes": 1}
df_2 = df_2.replace(furnished)
df_2["Furnished"] = df_2["Furnished"].fillna(0)

In [14]:
pd.get_dummies(df_2, columns=['Property type', 'Post code'])

,Unnamed: 0,Immoweb ID,property sub-type,Price,Building condition,Kitchen type,Bedrooms,Furnished,Terrace surface,Tenement building,...,Post code_9960,Post code_9968,Post code_9970,Post code_9971,Post code_9981,Post code_9982,Post code_9988,Post code_9990,Post code_9991,Post code_9992
0,0,9729720,PENTHOUSE,179000.0,Good,1.0,1.0,1.0,9.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,1,9729785,PENTHOUSE,255000.0,Good,1.0,1.0,1.0,46.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,2,9729784,PENTHOUSE,255000.0,Good,1.0,1.0,1.0,46.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,3,9729780,PENTHOUSE,620000.0,Good,1.0,3.0,1.0,70.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,4,9727201,PENTHOUSE,379000.0,Good,2.0,2.0,0.0,110.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14138,14536,7770552,SERVICE_FLAT,132000.0,As new,0.0,1.0,0.0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
14139,14537,7770553,SERVICE_FLAT,177000.0,As new,0.0,1.0,0.0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
14140,14538,7770551,SERVICE_FLAT,190000.0,As new,0.0,2.0,0.0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
14141,14539,7921693,SERVICE_FLAT,1350000.0,NaN,0.0,30.0,0.0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
14142,14540,7921699,SERVICE_FLAT,3100000.0,NaN,0.0,25.0,0.0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
Kit_type_dict = {"USA uninstalled" : 0, 
                 "Not installed" : 0, 
                 "Installed": 1, 
                 "USA installed": 1,
                 "Semi equipped": 1,
                 "USA semi equipped": 1,
                 "Hyper equipped": 2,
                 "USA hyper equipped": 2,
                 "Nan" : 0
                 
                }

df_2 = df_2.replace(Kit_type_dict)
df_2["Kitchen type"] = df_2["Kitchen type"].fillna(0)


df_2

,Unnamed: 0,Immoweb ID,Property type,property sub-type,Price,Post code,Building condition,Kitchen type,Bedrooms,Furnished,Terrace surface,Tenement building,Number of frontages,Swimming pool,How many fireplaces?,Garden,Garden orientation,Garden surface,Terrace,Surface of the plot
0,0,9729720,APARTMENT,PENTHOUSE,179000.0,1140,Good,1.0,1.0,1.0,9.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,9729785,APARTMENT,PENTHOUSE,255000.0,8370,Good,1.0,1.0,1.0,46.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,9729784,APARTMENT,PENTHOUSE,255000.0,8370,Good,1.0,1.0,1.0,46.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,9729780,APARTMENT,PENTHOUSE,620000.0,8370,Good,1.0,3.0,1.0,70.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,9727201,APARTMENT,PENTHOUSE,379000.0,1020,Good,2.0,2.0,0.0,110.0,0.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14138,14536,7770552,APARTMENT,SERVICE_FLAT,132000.0,1730,As new,0.0,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14139,14537,7770553,APARTMENT,SERVICE_FLAT,177000.0,1730,As new,0.0,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
14140,14538,7770551,APARTMENT,SERVICE_FLAT,190000.0,1730,As new,0.0,2.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
14141,14539,7921693,APARTMENT,SERVICE_FLAT,1350000.0,5600,NaN,0.0,30.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14142,14540,7921699,APARTMENT,SERVICE_FLAT,3100000.0,6940,NaN,0.0,25.0,0.0,NaN,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN