In [5]:
import pandas as pd
df = pd.read_csv('raw_dataset_dropPrice_str.csv')

C:\Users\sayra\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\interactiveshell.py:3251: DtypeWarning: Columns (6,7,9,13,15,16,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [46]:
df.shape 
print(df.shape)  # 20 columns, 14143 rows
df.columns.tolist()  # columns names

(14143, 20)

['Unnamed: 0',
 'Immoweb ID',
 'Property type',
 'property sub-type',
 'Price',
 'Post code',
 'Building condition',
 'Kitchen type',
 'Bedrooms',
 'Furnished',
 'Terrace surface',
 'Tenement building',
 'Number of frontages',
 'Swimming pool',
 'How many fireplaces?',
 'Garden',
 'Garden orientation',
 'Garden surface',
 'Terrace',
 'Surface of the plot']

In [47]:
# remove 'apartment block' sub-type
df.drop(data[data['property sub-type'] == 'APARTMENT_BLOCK'].index, inplace = True)   
df

,Unnamed: 0,Immoweb ID,Property type,property sub-type,Price,Post code,Building condition,Kitchen type,Bedrooms,Furnished,Terrace surface,Tenement building,Number of frontages,Swimming pool,How many fireplaces?,Garden,Garden orientation,Garden surface,Terrace,Surface of the plot
0,0,9729720,APARTMENT,PENTHOUSE,179000.0,1140,Good,Semi equipped,1.0,Yes,9.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,9729785,APARTMENT,PENTHOUSE,255000.0,8370,Good,Installed,1.0,Yes,46.0,No,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,9729784,APARTMENT,PENTHOUSE,255000.0,8370,Good,Installed,1.0,Yes,46.0,No,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,9729780,APARTMENT,PENTHOUSE,620000.0,8370,Good,Installed,3.0,Yes,70.0,No,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,9727201,APARTMENT,PENTHOUSE,379000.0,1020,Good,USA hyper equipped,2.0,No,110.0,No,3.0,No,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14138,14536,7770552,APARTMENT,SERVICE_FLAT,132000.0,1730,As new,NaN,1.0,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14139,14537,7770553,APARTMENT,SERVICE_FLAT,177000.0,1730,As new,NaN,1.0,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN
14140,14538,7770551,APARTMENT,SERVICE_FLAT,190000.0,1730,As new,NaN,2.0,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN
14141,14539,7921693,APARTMENT,SERVICE_FLAT,1350000.0,5600,NaN,NaN,30.0,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14142,14540,7921699,APARTMENT,SERVICE_FLAT,3100000.0,6940,NaN,NaN,25.0,NaN,NaN,No,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
# remove duplicates   
df_duplicates_removed = df.drop_duplicates(subset = ['Immoweb ID'], keep = 'last')
df_duplicates_removed

,Unnamed: 0,Immoweb ID,Property type,property sub-type,Price,Post code,Building condition,Kitchen type,Bedrooms,Furnished,Terrace surface,Tenement building,Number of frontages,Swimming pool,How many fireplaces?,Garden,Garden orientation,Garden surface,Terrace,Surface of the plot
0,0,9729720,APARTMENT,PENTHOUSE,179000.0,1140,Good,Semi equipped,1.0,Yes,9.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,9729785,APARTMENT,PENTHOUSE,255000.0,8370,Good,Installed,1.0,Yes,46.0,No,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,9729784,APARTMENT,PENTHOUSE,255000.0,8370,Good,Installed,1.0,Yes,46.0,No,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,9729780,APARTMENT,PENTHOUSE,620000.0,8370,Good,Installed,3.0,Yes,70.0,No,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,9727201,APARTMENT,PENTHOUSE,379000.0,1020,Good,USA hyper equipped,2.0,No,110.0,No,3.0,No,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14138,14536,7770552,APARTMENT,SERVICE_FLAT,132000.0,1730,As new,NaN,1.0,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14139,14537,7770553,APARTMENT,SERVICE_FLAT,177000.0,1730,As new,NaN,1.0,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN
14140,14538,7770551,APARTMENT,SERVICE_FLAT,190000.0,1730,As new,NaN,2.0,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN
14141,14539,7921693,APARTMENT,SERVICE_FLAT,1350000.0,5600,NaN,NaN,30.0,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14142,14540,7921699,APARTMENT,SERVICE_FLAT,3100000.0,6940,NaN,NaN,25.0,NaN,NaN,No,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
df_duplicates_removed ["property sub-type"].describe()

count     12211
unique       19
top       VILLA
freq       2468
Name: property sub-type, dtype: object

In [63]:
# transform property sub-type using one hot encoding (on categorical data)
# one hot encoding with categorical variables with high cardinality 19
# BUNGALOW, CASTLE, CHALET, COUNTRY_COTTAGE, DUPLEX, EXCEPTIONAL_PROPERTY, FARMHOUSE, FLAT_STUDIO, GROUND_FLOOR, KOT, LOFT, MANOR_HOUSE, MANSION, 
df_duplicates_removed["property sub-type"].value_counts()

VILLA                   2468
GROUND_FLOOR            1606
DUPLEX                  1580
MIXED_USE_BUILDING      1240
PENTHOUSE               1170
FLAT_STUDIO              873
EXCEPTIONAL_PROPERTY     566
SERVICE_FLAT             500
MANSION                  479
TOWN_HOUSE               383
COUNTRY_COTTAGE          292
LOFT                     271
BUNGALOW                 212
FARMHOUSE                171
TRIPLEX                   99
KOT                       95
CHALET                    94
MANOR_HOUSE               62
CASTLE                    50
Name: property sub-type, dtype: int64

In [86]:
# create dummy indicator columns
df_encoded_pst = pd.get_dummies(df_duplicates_removed, columns=["property sub-type"])
df_encoded_pst

,Unnamed: 0,Immoweb ID,Property type,Price,Post code,Building condition,Kitchen type,Bedrooms,Furnished,Terrace surface,...,property sub-type_KOT,property sub-type_LOFT,property sub-type_MANOR_HOUSE,property sub-type_MANSION,property sub-type_MIXED_USE_BUILDING,property sub-type_PENTHOUSE,property sub-type_SERVICE_FLAT,property sub-type_TOWN_HOUSE,property sub-type_TRIPLEX,property sub-type_VILLA
0,0,9729720,APARTMENT,179000.0,1140,Good,Semi equipped,1.0,Yes,9.0,...,0,0,0,0,0,1,0,0,0,0
1,1,9729785,APARTMENT,255000.0,8370,Good,Installed,1.0,Yes,46.0,...,0,0,0,0,0,1,0,0,0,0
2,2,9729784,APARTMENT,255000.0,8370,Good,Installed,1.0,Yes,46.0,...,0,0,0,0,0,1,0,0,0,0
3,3,9729780,APARTMENT,620000.0,8370,Good,Installed,3.0,Yes,70.0,...,0,0,0,0,0,1,0,0,0,0
4,4,9727201,APARTMENT,379000.0,1020,Good,USA hyper equipped,2.0,No,110.0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14138,14536,7770552,APARTMENT,132000.0,1730,As new,NaN,1.0,NaN,NaN,...,0,0,0,0,0,0,1,0,0,0
14139,14537,7770553,APARTMENT,177000.0,1730,As new,NaN,1.0,NaN,NaN,...,0,0,0,0,0,0,1,0,0,0
14140,14538,7770551,APARTMENT,190000.0,1730,As new,NaN,2.0,NaN,NaN,...,0,0,0,0,0,0,1,0,0,0
14141,14539,7921693,APARTMENT,1350000.0,5600,NaN,NaN,30.0,NaN,NaN,...,0,0,0,0,0,0,1,0,0,0
14142,14540,7921699,APARTMENT,3100000.0,6940,NaN,NaN,25.0,NaN,NaN,...,0,0,0,0,0,0,1,0,0,0

In [84]:
# fill in 0 to missing value
df_duplicates_removed["Swimming pool"].value_counts()

No     3500
Yes     532
Name: Swimming pool, dtype: int64

In [92]:
df_duplicates_removed['Swimming pool'] = df_duplicates_removed['Swimming pool'].fillna(0)
df_duplicates_removed

C:\Users\sayra\AppData\Local\Temp\ipykernel_30084\2023840022.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_duplicates_removed['Swimming pool'] = df_duplicates_removed['Swimming pool'].fillna(0)

,Unnamed: 0,Immoweb ID,Property type,property sub-type,Price,Post code,Building condition,Kitchen type,Bedrooms,Furnished,Terrace surface,Tenement building,Number of frontages,Swimming pool,How many fireplaces?,Garden,Garden orientation,Garden surface,Terrace,Surface of the plot
0,0,9729720,APARTMENT,PENTHOUSE,179000.0,1140,Good,Semi equipped,1.0,Yes,9.0,No,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,9729785,APARTMENT,PENTHOUSE,255000.0,8370,Good,Installed,1.0,Yes,46.0,No,2.0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,9729784,APARTMENT,PENTHOUSE,255000.0,8370,Good,Installed,1.0,Yes,46.0,No,2.0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,9729780,APARTMENT,PENTHOUSE,620000.0,8370,Good,Installed,3.0,Yes,70.0,No,2.0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,9727201,APARTMENT,PENTHOUSE,379000.0,1020,Good,USA hyper equipped,2.0,No,110.0,No,3.0,No,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14138,14536,7770552,APARTMENT,SERVICE_FLAT,132000.0,1730,As new,NaN,1.0,NaN,NaN,No,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
14139,14537,7770553,APARTMENT,SERVICE_FLAT,177000.0,1730,As new,NaN,1.0,NaN,NaN,No,NaN,0,NaN,NaN,NaN,NaN,Yes,NaN
14140,14538,7770551,APARTMENT,SERVICE_FLAT,190000.0,1730,As new,NaN,2.0,NaN,NaN,No,NaN,0,NaN,NaN,NaN,NaN,Yes,NaN
14141,14539,7921693,APARTMENT,SERVICE_FLAT,1350000.0,5600,NaN,NaN,30.0,NaN,NaN,No,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
14142,14540,7921699,APARTMENT,SERVICE_FLAT,3100000.0,6940,NaN,NaN,25.0,NaN,NaN,No,4.0,0,NaN,NaN,NaN,NaN,NaN,NaN